{% extends 'header.html' %} {% block content %}
<main>
    <h1 class="text-center">Buscador Rick & Morty</h1>

    <div class="d-flex justify-content-end" style="margin-bottom: 1%; margin-right: 2rem;">
        <!-- Selector de página -->
        <nav aria-label="Pagination">
            <ul class="pagination">
                <!-- Botón Anterior -->
                <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ current_page|add:-1 }}">⬅️</a>
                </li>
    
                <!-- Páginas 1, 2 y 3 -->
                <li class="page-item {% if current_page == 1 %}active{% endif %}">
                    <a class="page-link" href="?page=1">1</a>
                </li>
                <li class="page-item {% if current_page == 2 %}active{% endif %}">
                    <a class="page-link" href="?page=2">2</a>
                </li>
                <li class="page-item {% if current_page == 3 %}active{% endif %}">
                    <a class="page-link" href="?page=3">3</a>
                </li>
    
                <!-- Botón Siguiente -->
                <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ current_page|add:1 }}">➡️</a>
                </li>
            </ul>
        </nav>
    </div>
    

    <div class="d-flex justify-content-center" style="margin-bottom: 1%">
        <!-- Buscador del sitio -->
        <form class="d-flex" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="query" placeholder="Escribí una palabra" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if images|length == 0 %}
        <h2 class="text-center">La búsqueda no arrojó resultados...</h2>
        <!--en esta sección se le da borde a los personajes segun su estado -->
        {% else %} {% for img in images %}
        <div class="col">   
            <div class="card mb-3 ms-5" style="max-width: 540px; 
                {% if img.status == 'Alive' %} border: 2.5px solid green; 
                {% elif img.status == 'Dead' %} border: 2.5px solid red; 
                {% else %} border: 2.5px solid orange; 
                {% endif %}
                ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ img.url }}" class="card-img-top" alt="imagen">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{ img.name }}</h3>
                            <p class="card-text">
                                <strong>    <!--*en este if se le da color al ciruclo de estado*/ -->
                                            {% if img.status == 'Alive' %} 🟢 {{ img.status }} 
                                            {% elif img.status == 'Dead' %} 🔴 {{ img.status }} 
                                            {% else %} 🟠 {{ img.status }} 
                                            {% endif %}
                                        </strong>
                            </p>
                            <p class="card-text"><small class="text-body-secondary">Última ubicación: {{ img.last_location }}</small></p>
                            <p class="card-text"><small class="text-body-secondary">Episodio inicial: {{ img.first_seen }}</small></p>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="card-footer text-center">
                            <form method="post" action="{% url 'agregar-favorito' %}">
                                {% csrf_token %}
                                <input type="hidden" name="name" value="{{ img.name }}">
                                <input type="hidden" name="url" value="{{ img.url }}">
                                <input type="hidden" name="status" value="{{ img.status }}">
                                <input type="hidden" name="last_location" value="{{ img.last_location }}">
                                <input type="hidden" name="first_seen" value="{{ img.first_seen }}"> {% if img in favourite_list %}
                                <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white" disabled>✔️ Ya está en favoritos</button> {% else %}
                                <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white">❤️ Añadir a favoritos</button> {% endif %}
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</main>
{% endblock %}